body {
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    align-items: center;
    justify-content: center;
}